.circle{
    border-radius: 50%;
    border: solid rgba(191, 191, 191,1) 2px; 
    position:relative;
    background-color: rgba(238, 238, 238,0);
    color: rgba(0, 0, 0,0);   
}

.lines{ 
    position:absolute;
    z-index:1;
}